@media (min-width: 375px) {
  nav {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 72px;
    background: #373b53;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 16px;
  }

  .logo {
    width: 72px;
    height: 72px;
  }

  .moon {
    margin-top: 19px;
    margin-left: 177px;
  }

  .vl {
    border-left: 1px solid #494e6e;
    height: 72px;
  }
}
