@media (min-width: 375px) {
  .headerContainer {
    display: flex;
    margin-top: 38px;
    justify-content: space-between;
  }

  .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .newFormbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 44px;
    background-color: #7c5dfa;
    border-radius: 24px;
    margin-left: 144px;
  }

  .new {
    margin-left: 10px;
    color: #ffffff;
  }

  .cards {
    width: 327px;
    height: 134px;
    background-color: #ffffff;
    margin-left: 24px;
  }

  .clientName {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.25px;
    margin-top: 30px;
    color: #858bb2;
    position: relative;
    top: 10px;
  }

  .id {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;

    color: #0c0e16;
  }

  .paymentDue {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;

    color: #888eb0;
  }

  .total {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
    display: flex;
    color: #0c0e16;
  }

  .formContainer {
    height: 89%;
    position: fixed;
    z-index: 20;
    background-color: #ffffff;
    top: 0;
    left: 0;
    margin-top: 72px;
    display: none;
    margin-left: 7px;
    overflow-x: hidden;
  }

  .status {
    margin-left: 33px;
    margin-top: -64px;
  }

  .statusContainer {
    width: 104px;
    height: 40px;
    margin-left: 222px;
  }

  .statusCircle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    /* margin-left: 212px; */
  }

  .dollarSign {
    margin-top: 0px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;

    color: #0c0e16;
  }

  .filterContainer {
    position: relative;
    left: 136px;
    top: 16px;
    display: flex;
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: -0.25px;

    color: #0c0e16;
  }

  .svg {
    position: relative;
    top: 6px;
  }

  label {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7e88c3;
  }

  .billFrom {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;

    color: #7c5dfa;
  }

  .newInvoice {
    width: 157px;
    height: 32px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;

    color: #0c0e16;
  }

  #BillersAddress {
    width: 327px;
    height: 48px;
  }

  #City {
    width: 152px;
    height: 48px;
  }

  #PostCode {
    width: 152px;
    height: 48px;
  }
}
