/* You can add global styles to this file, and also import other style files */
/* Body {
  --navBackgroundColor: #373b53;
  --textColor: #888e00;
}

Body.DarkTheme {
  --navBackgroundColor: #1e2139;
  --textColor: #dfe3fa;
} */

body {
  background-color: #f2f2f2;
}
