@media (min-width: 375px) {
  .formContainer {
    height: 100%;
    width: 375px;
    position: fixed;
    z-index: 20;
    background-color: #ffffff;
    transition: 0.5s;
    top: 0;
    left: 0;

    padding-top: 60px;
    display: none;
  }

  .status {
    width: 327px;
    height: 91px;
    margin-left: 239px;
    margin-top: 46px;
  }

  .statusDiv {
    display: flex;
  }

  .nestedStatus {
    margin-top: 47px;
    margin-left: 22px;
  }
}
